*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  overflow: hidden;
}
main{
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color:black;
  border-radius: 30px;
}
form{
  height: 200px;
  width: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
  border-radius: 40px;

  
}
form input{
  max-width: 300px;
  font-size:60px;
  outline: none;
  background-color: black;
  border: none;
  color: white;
  font-weight: 300;
  padding:0 16px;
  text-align: right;

}
.keypads{
  padding:10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 8px;
  place-items: center;
  width: 100%;
}
.keypads button{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.168);
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(231, 231, 231);
  transition: scale .1s;

}
.keypads button:active{
  background-color: rgb(91, 88, 88);
  scale: .9;
}
.keypads .zero{
  grid-column: 1 / 3;
  width: 128px;
}
.keypads .yellow{
  background-color: #f69906;
  font-weight: 500;
  font-size: 2rem;
}
.keypads .controls{
  background-color: #a0a0a0;
  color: black;
  
}
@media only screen and (max-width: 1000px) {
  body{
    background-color: black;
    max-height: 90vh;
  }
  main{
    background-color: black;
  }
  form{
   height:260px ;
  }
  form input{
    font-size: 78px;
    max-width: 390px;
  }
  .keypads button{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    font-size: 1.95rem;
  }
  .keypads{
    gap: 11px;
    
  }
  .keypads .yellow{
    font-size: 2.6rem;
  }
  .keypads .zero{
    width: 166px;
    border-radius: 39px;
  }
  .container{
  /* scale: 1.3; */
  border-radius: 0;
  margin-bottom: 30px;
  }
}