*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
main{
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color:black;
}
form{
  height: 200px;
  width: 100%;
  background-color: green;
}
form input{
  height: 100%;
  width: 100%;
}
.keypads{
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 8px;
}
.keypads button{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.168);
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(231, 231, 231);

}
.keypads .zero{
  grid-column: 1 / 3;
  width: 128px;
}